wails3
.task
vendor/
.idea
node_modules/
.DS_Store
*.log
.env
.env.*.local
coverage/
coverage.out
coverage.html
*.cache
/coverage.txt
bin/
dist/
tasks
/core
/i18n-validate
cmd/bugseti/bugseti
internal/core-ide/core-ide
.angular/

patch_cov.*
go.work.sum
