go 1.25.5

use (
	.
	./cmd/core
	./cmd/core-gui
	./cmd/core-mcp
	./cmd/examples/core-static-di
	./cmd/lthn-desktop
	./pkg/agentic
	./pkg/build
	./pkg/cache
	./pkg/config
	./pkg/core
	./pkg/display
	./pkg/docs
	./pkg/git
	./pkg/help
	./pkg/i18n
	./pkg/ide
	./pkg/mcp
	./pkg/module
	./pkg/process
	./pkg/repos
	./pkg/sdk
	./pkg/updater
	./pkg/webview
	./pkg/ws
)
